
/*Description style code*/

  .description{
    display: flex;
    justify-content: center;
    margin: 100px auto;
  }

  .two-columns{
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    margin: 0 auto;
  }

  .two-columns__brief{
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color:#2F80ED;
    width: 175px;
    margin: 0;
  }

  .two-columns__main-text{
    width: 80%;
    min-width: 784px;
  }

  .two-columns__paragraph{
    line-height: 34px;
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 30px;
    width: 80%;
  }

  .two-columns__paragraph:last-of-type{
    margin: 0;
  }

  .two-columns__span-accent{
    line-height: 34px;
    font-weight: bold;
    font-size: 24px;
  }
