/* Kaufman style code */

.kaufman{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1F1F1F;
  overflow: hidden;
  z-index: -2;
}

.section-title_theme_dark{
  color: white;
  margin-top: 90px;
  margin-bottom: 0;
}

.section-subtitle_theme_dark{
  color: #F2F2F2;
  margin-top: 20px;
}

.kaufman__triangle{
  position: absolute;
  right: -124px;
  top: 0;
  width: 660px;
  height: 636px;
  z-index: -1;
}

.table_theme_dark{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  margin-top: 80px;
  padding-left: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark{
  color: #F2F2F2;
  margin: 0;
}

.table__text_theme_dark{
  color: #F2F2F2;
  margin-top: 20px;
  margin-bottom: 0;
}
