@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }

}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Style code for the header part of the page */
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
  overflow: hidden;
}


.logo{
  width: 154px;
  height: 31px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.logo_place_header{
  background-image: url("/images/logo_place_header.png");
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title{
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: 0 0 0 64px;
  justify-content: center;
  z-index: 1;
}

.header__subtitle{
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  margin: 0;
}

/* Manual coloring the link with custom color*/
.header__link{
  color: #2F80ED;
  text-decoration: none;
}

.header__square-pic{
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2F80ED;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}

.header__main-illustration{
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
}


/*Style code for the description part of the page*/

.description{
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2F80ED;
  width: 175px;
  margin: 0;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 30px;
}

/* Manually remove the margin from the third paragraph on the page */
.two-columns__paragraph:last-of-type{
  margin: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-weight: bold;
  font-size: 24px;
}

/* style code for techniques section */
/* section-title code at bottom of page because of overwriting instructions*/
.techniques{
  margin: 100px 0 100px 0;
}

.cards{
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  align-items: baseline;
}

.cards__item{
  list-style: none;
  margin-top: 60px;
}

.cards__image{
  width: 160px;
  height: 160px;
  padding: 0 40px;
}

.cards__title{
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description{
  margin: 16px 0 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

/*Style code for the facts and figures section*/

.digits{
  margin: 100px 0 100px 0;
}

.section-title{
  width: 60%;
  text-align: center;
  margin: 0 auto 20px auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* Styling the tables of the section */
.table{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  justify-content: space-between;
}

.table__cell{
  margin-top: 60px;
  width: 250px;
  list-style: none;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

/*Style code for the part of the page about the feynman method*/

.feynman{
  min-height: 790px;
  background-color: #F2F2F2;
  display: flex;
  position: relative;
  flex-direction: column;
}

.feynman__title{
  width: 775px;
  margin: 100px auto 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0 auto;
  z-index: 1;
}

.feynman__link{
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  color: #2F80ED;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__picture{
  background-image: url("/images/feynman.png");
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman-picture{
  width: 867px;
  height: 637px;
}

/* style code for khan section */

.khan{
  background-color: #F2F2F2;
}

.container{
  width: 80%;
  margin: 0 auto 0 auto
}

.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding: 100px 0 0 0;
  margin: 0;
}

.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 50px 0;
}

.khan__quote{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 36px 0;
  width: 790px;
}

.khan__quote-author{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.khan__quote-author-subline{
  line-height: 1.15;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

/* Style code for the part of the page about the Kaufman principles */

.kaufman{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1F1F1F;
  overflow: hidden;
  z-index: -2;
  overflow: hidden;
}

/* Dark theme styling for Kaufman section - table style reused from facts and figures section */
.section-title_theme_dark{
  color: white;
  margin: 90px auto 0 auto;
}

.section-subtitle_theme_dark{
  color: #F2F2F2;
  margin-top: 20px;
}

.kaufman__triangle{
  position: absolute;
  right: -124px;
  top: 0;
  width: 660px;
  height: 636px;
  z-index: -1;
  animation: rotation 20s linear infinite;
}

.table_theme_dark{
  margin: 0 auto 90px auto;
  padding-left: 0;
}

.table__cell_theme_dark{
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading_theme_dark{
  color: #F2F2F2;
  margin: 0;
}

.table__text_theme_dark{
  color: #F2F2F2;
  margin: 20px 0 0 0;
}

/* Resource section styles */
.resources{
  margin-top: 100px;
}

.resources__logo-zone{
  width: 1100px;
  margin: 80px auto 217px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resources__logo{
  width: 270px;
  height: 38px;
}

/*Style code for the footer part of the page*/

.footer{
  min-height: 350px;
  background-color: #1F1F1F;
  display: flex;
  color: #F2F2F2;
}

.footer__columns{
  width: 90%;
  margin: 60px auto 40px auto;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer{
  background-image: url("/images/logo_place_footer.png");
  width: 183px;
  height: 35px;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer__list{
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Style for the links in the footer */
.footer__columns_list{
  list-style: none;
  padding-left: 0;
  margin: 20px 0 16px 0;
}

.footer__column-link{
  color: #F2F2F2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
/*end of styling for the links in the footer*/

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__social-icons{
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

